body {
  padding: 0px;
  margin: 0px;
}

.navbar {
  position: relative;
  display: flex;
  margin-bottom: 2rem;
  padding: 10px;
  background-image: linear-gradient(to bottom right, #49054a, #880467);
  justify-content: space-around;
  align-items: center;
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
}
.logo-header {
  height: 50px;
  filter: brightness(160%);
}

.nav-items > ul > li {
  position: relative;
  display: inline;
  list-style: none;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-items > ul > li > a {
  color: white;
  text-decoration: none;
}

.nav-items > ul > li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.17rem;
  background-color: #d51414;
  left: 0;
  bottom: 0;
  transform-origin: 0% 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-items > ul > li:hover::after {
  transform: scaleX(1);
}

.nav-logo a,
.nav-button a {
  color: white;
  list-style: none;
  text-decoration: none;
  display: flex;
}

.nav-logo {
  font-size: 32px;
}

.nav-button {
  background-color: #d51414;
  border-radius: 50px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.anim-layer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: black;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-button:hover .anim-layer {
  width: 100%;
  left: 0;
}

.nav-button:hover a {
  color: #fff;
}

.nav-button a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

#hamburger-menu,
#mobile-menu {
  display: none;
}

@media only screen and (max-width: 770px) {
  #mobile-menu {
    background-color: #d51414;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }

  .mobile-nav-items > ul {
    padding: 0px;
  }

  .mobile-nav-items > ul > li {
    text-align: center;
    position: relative;
    list-style: none;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .mobile-nav-items > ul > li > a {
    color: white;
    text-decoration: none;
  }

  .mobile-nav-items > ul > li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.17rem;
    background-color: white;
    left: 0;
    bottom: 0;
    transform-origin: 0% 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .mobile-nav-items > ul > li:hover::after {
    transform: scaleX(1);
  }

  .mobile-nav-button {
    background-color: #141214;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
  }

  .mobile-nav-button .anim-layer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
  }

  .mobile-nav-button:hover .anim-layer {
    width: 100%;
    left: 0;
  }

  .mobile-nav-button:hover a {
    color: #141214;
  }

  .mobile-nav-button a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
  }

  .nav-items > ul,
  .nav-button {
    display: none;
  }

  #hamburger-cross {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 26px;
  }

  #hamburger-menu {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 24px;
  }
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 70px 0;
}

.course-card {
  user-select: none;
  background: #ffffff;
  border-radius: 25px;
  width: 100%;
  height: 26rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin: 14px;
  transition: 0.4s ease-in-out;
}
.course-card-img {
  width: 100%;
  height: 225px;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.course-card-img .main {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  transition: 0.4s ease-in-out;
}
.course-card-content {
  padding: 16px;
  font-family: Helvetica, sans-serif;
}
.course-card-content h4 {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.74);
}
.course-card-content h6 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #1c0fd7;
}
.course-card:hover {
  transform: scale(1.05);
}
.course-card:hover .course-card-img .main {
  transform: scale(1.1);
}
.course-card:hover .course-card-img .layered {
  filter: blur(19);
  transform: scale(1.5);
}
.card-text-price {
  color: #888;
  margin-bottom: 0.5rem;
}
.card-text-discount {
  color: #444;
  font-weight: 600;
}
#category-select {
  border: none;
  background: #630274;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
}
.course-filter {
  margin-bottom: -20px;
}
.card-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.btn {
  background: #630274;
  color: #fff;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
}
.btn:hover {
  background: #34127c;
  border-radius: 5px;
  color: #fff;
}
