<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Prerogative</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../public/../../public/images/favicon.png"
    />

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&amp;display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link
      rel="stylesheet"
      href="../../public/css/vendor/fontawesome-all.min.css"
    />
    <link rel="stylesheet" href="../../public/css/vendor/edumall-icon.css" />
    <link rel="stylesheet" href="../../public/css/vendor/bootstrap.min.css" />

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="../../public/css/plugins/aos.css" />
    <link
      rel="stylesheet"
      href="../../public/css/plugins/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="../../public/css/plugins/perfect-scrollbar.css"
    />
    <link
      rel="stylesheet"
      href="../../public/css/plugins/jquery.powertip.min.css"
    />
    <link rel="stylesheet" href="../../public/css/plugins/glightbox.min.css" />
    <link rel="stylesheet" href="../../public/css/plugins/flatpickr.min.css" />
    <link
      rel="stylesheet"
      href="../../public/css/plugins/ion.rangeSlider.min.css"
    />
    <link rel="stylesheet" href="../../public/css/plugins/select2.min.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Style CSS -->
    <link rel="stylesheet" href="../../public/css/style.css" />

    <!--! -->
  </head>
  <body class="dashboard-page dashboard-nav-fixed">
    <%- include('../includes/dash_head.ejs') %>
    <div><%- body %></div>

    <!--! JS Vendor, Plugins & Activation Script Files -->

    <!-- Vendors JS -->
    <script src="../../public/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="../../public/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="../../public/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="../../public/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="../../public/js/plugins/aos.js"></script>
    <script src="../../public/js/plugins/parallax.js"></script>
    <script src="../../public/js/plugins/swiper-bundle.min.js"></script>
    <script src="../../public/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../../public/js/plugins/jquery.powertip.min.js"></script>
    <script src="../../public/js/plugins/nice-select.min.js"></script>
    <script src="../../public/js/plugins/glightbox.min.js"></script>
    <script src="../../public/js/plugins/jquery.sticky-kit.min.js"></script>
    <script src="../../public/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="../../public/js/plugins/masonry.pkgd.min.js"></script>
    <script src="../../public/js/plugins/flatpickr.js"></script>
    <script src="../../public/js/plugins/range-slider.js"></script>
    <script src="../../public/js/plugins/select2.min.js"></script>
    <!-- ! -->

    <!-- Activation JS -->
    <script src="../../public/js/main.js"></script>
  </body>
</html>
