<% layout('./layouts/boilerplate.ejs') %>

<style>
  body {
    background: linear-gradient(to bottom right, #fff, #bfbfbf);
  }
  .login_main {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
  .login_container {
    width: 400px;
    margin: auto;
    padding: 36px 48px 48px 48px;
    background-color: #f2efee;

    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  }

  .login-title {
    padding: 15px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .login-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  .login-form label {
    display: block;
    margin-bottom: 8px;
  }

  .login-form input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
  }

  .login-form input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(253, 242, 233, 0.5);
  }

  .btn--form {
    background-color: #ea2085;
    color: #fdf2e9;
    align-self: end;
    padding: 8px;
  }

  .btn,
  .btn:link,
  .btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9px;
    border: none;

    cursor: pointer;
    font-family: inherit;

    transition: all 0.3s;
  }

  button {
    outline: 1px solid #ea2085;
  }

  .btn--form:hover {
    background-color: #fdf2e9;
    color: #ea2085;
  }
</style>

<!-- <form method="post"> -->
<!-- <input type="email" placeholder="Email" name="username" /><input
    type="password"
    placeholder="Password"
    name="password"
  />
  <button>Login</button> -->
<div class="login_main">
  <div class="login_container">
    <h2 class="login-title">Log in</h2>

    <form class="login-form" method="post">
      <div>
        <label for="email">Email </label>
        <input
          id="email"
          type="email"
          placeholder="me@example.com"
          name="username"
          required
        />
      </div>

      <div>
        <label for="password">Password </label>
        <input
          id="password"
          type="password"
          placeholder="password"
          name="password"
          required
        />
      </div>

      <button class="btn btn--form" type="submit" value="Log in">Log in</button>
    </form>
  </div>
</div>
<!-- </form> -->
