<% layout('./layouts/dash_boil.ejs') %>

<!-- Dashboard Content Start -->
<div class="dashboard-content">
  <div class="container">
    <h4 class="dashboard-title">My Profile</h4>

    <!-- Dashboard Profile Start -->
    <div class="dashboard-profile">
      <div class="dashboard-profile__item">
        <div class="dashboard-profile__heading">Registration Date</div>
        <div class="dashboard-profile__content">
          <p><%= currUser.createdAt.toLocaleDateString() %></p>
        </div>
      </div>
      <div class="dashboard-profile__item">
        <div class="dashboard-profile__heading">First Name</div>
        <div class="dashboard-profile__content">
          <p><%= currUser.name %></p>
        </div>
      </div>
      <div class="dashboard-profile__item">
        <div class="dashboard-profile__heading">Last Name</div>
        <div class="dashboard-profile__content">
          <p>David</p>
        </div>
      </div>
      <div class="dashboard-profile__item">
        <div class="dashboard-profile__heading">Username</div>
        <div class="dashboard-profile__content">
          <p>student</p>
        </div>
      </div>
      <div class="dashboard-profile__item">
        <div class="dashboard-profile__heading">Email</div>
        <div class="dashboard-profile__content">
          <p><%= currUser.username %></p>
        </div>
      </div>
      <div class="dashboard-profile__item">
        <div class="dashboard-profile__heading">Phone Number</div>
        <div class="dashboard-profile__content">
          <p><%= currUser.mobile %></p>
        </div>
      </div>
      <div class="dashboard-profile__item">
        <div class="dashboard-profile__heading">Job Title</div>
        <div class="dashboard-profile__content">
          <p>________</p>
        </div>
      </div>
      <div class="dashboard-profile__item">
        <div class="dashboard-profile__heading">Bio</div>
        <div class="dashboard-profile__content">
          <p>
            ğ——ğ—²ğ—®ğ—¿ ğ—˜ğ—»ğ˜ğ—¿ğ—²ğ—½ğ—¿ğ—²ğ—»ğ—²ğ˜‚ğ—¿ğ˜€, ğ—¶ğ—³ ğ˜†ğ—¼ğ˜‚ ğ—¸ğ—»ğ—¼ğ˜„ ğ˜„ğ—µğ—®ğ˜ ğ—¶ğ˜€ ğ—´ğ—¼ğ—¼ğ—± ğ—³ğ—¼ğ—¿ ğ˜†ğ—¼ğ˜‚, ğ—ºğ—¶ğ—»ğ—± ğ˜ğ—µğ—²
            ğ—¯ğ˜‚ğ˜€ğ—¶ğ—»ğ—²ğ˜€ğ˜€ ğ˜ğ—µğ—®ğ˜ ğ—½ğ—®ğ˜†ğ˜€ ğ˜†ğ—¼ğ˜‚.
          </p>
        </div>
      </div>
    </div>
    <!-- Dashboard Profile End -->
  </div>
</div>
<!-- Dashboard Content End -->
